# compiled executable
/main

# compiled object files
*.o

# compiled dynamic libraries
/build
*.so

# logs
/logs
*.log

# rtorrent session/watch folders
/rTorrent/.rtorrent/session
/rTorrent/.rtorrent/watch

# vim swap files
*.swo
*.swp

# vim extended undo files
*.un~
/include
*.un~
/src
*.un~
