body{
    background-color:#29323C;
    color:#FCF5E7;
}
.margin-240-top{
    margin-top:240px;
}
#time{
    font-size:4rem;
}
/*
 * SEARCH FORM
*/
.searchForm i{
    font-size:1.6rem;
    cursor:pointer;
    margin-right:5px;
}
.searchForm input{
    font-size:1.1rem;
    padding:.4rem;
    border:none;
    background:#3F4A57;
    color:#FCF5E7;
}
/*
 * SEARCH ENGINE LIST
*/
#searchEngineList{
    width:60%;
    position:fixed;
    margin:0;
    padding:15px;
    list-style-type:none;
    background:rgba(63,74,87,0.5);
    -moz-columns:2;
    -moz-column-rule-style:solid;
}
#searchEngineList li{
    margin:5px 0;
}
#searchEngineList li a{
    font-weight:normal;
}
footer{
    position:fixed;
    left:0;
    bottom:0;
}
/*
 * BOOKMARKS LIST
*/
#bookmarks{
}
#bookmarks ul{
    list-style-type:none;
    float:left;
}
#bookmarks ul li:first-of-type{
    text-decoration:underline;
}
#bookmarks ul li{
    padding:5px 0;
}
.vertical-center{
    position:relative;
    top:50%;
    //transform:translateY(-50%);
}
